._.DS_Store
.DS_Store
_private
lpm-config.inc.php
phpmyadmin/
Lightning-PM.phpproj
Lightning-PM.sln
info.php
nbproject/
.gitignore.orig
classes.dump
lpm-libs/test/
/lpm-libs/gm-framework-v1.1.1
/lpm-libs/composer.phar
.idea/
.vscode/settings.json
/lpm-core/tester/tester-add.php
jsconfig.json
.dev-env
.dev/docker-env/data/
.env