@charset "UTF-8";

body {
	padding    : 0px;  
	margin     : 0px;
	min-height : 100%; 
	color      : #666666; 
	background-color: #f9f9f9;
}
a {
	color      : #000000;
}
h1 {
	margin: 24px 0;
}
h3 {
	margin: 0px;
}
article { 
	margin: 20px auto;
    /*padding-left: 20px;*/
}

button.ui-button {
    min-width: 0;
    min-height: 0;
}
table.backward-capability {
	width: 100%;
	border: 1px solid #cccccc;
	border-spacing: 0px;	
	border-collapse: collapse;
}
table.backward-capability thead th {
    background-color: #666666;
    color           : #ffffff; 
}
table.backward-capability tr {
    background-color: #ffffff;
}
table.backward-capability tr:nth-of-type(2n) {
    background-color: #eeeeee;
}
table.backward-capability th,
table.backward-capability td {
	padding: 5px;
	border: 1px solid #cccccc;
}
nav {
	width           : 100%;
	margin-bottom   : 5px;	
}
nav a {
	color: inherit;
	margin: 5px 10px;
	font-size: inherit;
	font-weight: bold;
	text-transform: uppercase;
}
nav#mainMenu {	
    background-color: #666666; 
    color           : #ffffff;
    font-size       : 10pt; 
}
nav#subMenu {  
    color           : #333333;
    background-color: #cccccc;
    margin-top      : -5px; 
    font-size       : 8pt; 
    padding-top     : 3px; 
}
nav#subMenu:empty {
	display: none;
}
header {
	height        : 100px;
	background    : -moz-linear-gradient(top,#ffffff,#eeeeee);
    background    : -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));    
	border-bottom : solid 1px #666666;
}
header #siteLogo {
	display: inline-block;
}
header #siteLogo img { 
	max-width  : 160px;
	max-height : 80px;
	margin     : 10px;	  
}
header #siteTitle {
	display       : inline-block;
	vertical-align: top; 
}
header #siteTitle h1,
header #siteTitle h2 {
	margin     : 0px;
	padding    : 0px  
}
header #siteTitle h1 {
	margin-top    : 20px;
	letter-spacing: 3px;
	color         : #666666;
}
header #siteTitle h2 {
	font-size  : 16pt; 
}
footer {
	text-align : right;
	line-height: 60%;
	border-top : solid 1px #666666; 
	color      : #cccccc;  
}
footer a {
	color : inherit;
}
footer:HOVER {
	color      : #666666; 
}
code {
	color: #CB335E;
	background-color: #F6F6F8;
	border: solid 1px #DDDDE5;
	border-radius: 2px;
	padding: 1px 4px;
	line-height: 1.5;
	word-wrap: break-word;
}
code.no-highlight {
	display: block;

	color: rgb(44, 45, 48);
	margin: .5rem 0 .2rem;
	font-size: .75rem;
	line-height: 0.75rem;
	overflow-x: auto;
	background: #fbfaf8;
	padding: .5rem;
	word-break: normal;
	white-space: pre;
	white-space: pre-wrap;

	font-family: Consolas, monaco, "Ubuntu Mono", courier, monospace !important;
	border: 1px solid #E8E8E8;
	border-radius: .2rem;
	-webkit-font-variant-ligatures: none;
	font-variant-ligatures: none;
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	-webkit-tab-size: 4
}
.flip-vertical {
	-moz-transform: scale(1,-1);
	-webkit-transform: scale(1, -1);
	-o-transform: scale(1, -1);
	transform: scale(1, -1);
	filter: FlipV;
	-ms-filter: "FlipV"; 
}

.flip-horizontal{
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1);
	filter: FlipH;
	-ms-filter: "FlipH"; 
}
.copyright {
	font-size: 7pt;
}
.version {
	font-size: 7pt;
}
.generation-time {
	font-size: 0.6em;
}
a.back-link {
	margin    : 0px;
	text-align: left;
	font-size : 10px;
}
a.copy-issue-link {
	float: right;
	font-size: 12px;
}
a.finished-issue-link {
	margin-right: 7px;
	float: right;
	font-size: 12px;
}
/* p.header-back-link {
	margin: -1.3em 0px 0.83em;
}
p.header-back-link a.back-link {
    font-size : 11px;
} */
.buttons-bar {
	text-align: center;
}
#userMenuLine {
	font-size: 10px;
	background-color: rgba(0,0,0,0.1);
}
#userMenuLine .user-name {
	font-weight: bold;
	position: relative;

}
#userMenuLine > p {
	display    : inline-block;
	margin     : 0px;
	padding    : 0px;
	margin-left: 10px;
}
#userMenuLine #userMenu {
	float       : right;
	margin-right: 10px;
}
#content {
	width : 90%;
	margin: 0px auto;
}
#noway {
	display: none;
	text-align: center;	
}
#noway a.browser {
	display    : inline-block;
	width      : 64px;
	min-height : 84px;
	padding-top: 64px;
	background-position: top center;
	background-repeat  : no-repeat;
	background-size    : 100%; 
}
#noway a.browser.chrome {
	background-image: url("../imgs/gc.jpg");
}
#noway a.browser.firefox {
    background-image: url("../imgs/mf.jpg");
}
#noway a.browser.safari {
    background-image: url("../imgs/as.jpg");
}
#noway a.browser.opera {
    background-image: url("../imgs/op.jpg");
}
article.container,
div.container {	
	width    : 90%;
	max-width: 900px;
	padding  : 10px;
	border   : solid 1px #cccccc;
	background-color: #ffffff;
	margin   : 20px auto;
}
article.container > h3,
div.container > h3 {
	box-sizing: content-box;
	background-color: #ffffff;
	width           : 100%;
	padding         : 0px 15px;
	margin          : 5px -15px 20px;
	border          : 1px solid #cccccc;
	/*font-size       : 13pt;
	text-transform  : uppercase; */
	font-size: 1.5em;
	font-weight: normal;
}

/* Страница профиля */

ol#profileInfo.info-list {
	list-style: none;
}

#changePass form label {
    line-height: 30px;
    width: 180px;
    display: inline-block;
}

#profileView form{
    width           : 90%;
	margin          : 10px auto 10px;
}

.validateError:empty{
    display: none;
}

.info-message {
    display         : none; 
}

.operations-line {
	font-size : smaller;
	text-align: right;
}
.add-me-link {
	font-size: x-small;
	font-weight: normal;
}
ol.members-list {
	margin-bottom: 10px;
	position : relative;
	list-style: none;
}
ol.members-list input.member-sp {
	width: 20px;
	margin-left: 5px;
	display: inline-block;	
	font-size: smaller;
	padding: 1px 2px;
	height: 14px;
}
ol.members-list .member-sp-label {
	font-size: smaller;
	margin-left: 5px;
	display: inline-block;	
}

fieldset > ol.members-list {
    margin-bottom: 10px;
    padding-top: 5px;
}
form > ol {
	padding: 0px;
}
form > ol > li {   
    list-style   : none;	
    /*margin-bottom: 5px;
    margin-right : 10px;*/
    margin: 10px auto;
}
form > ol > li label {
	margin-right : 20px;
	margin-bottom: 5px;
}
form > ol > li p {
    text-align: center;
}
form > ol > li div.hint {
    display: block;
    font-size: .8em;
}
form ol.form-fields > li:last-child {
	margin-top: 25px;
}
.priority-val {
	padding: 3px;
	color: #000000;
	border-radius: 5px;	
}

#dropdown{
    display:inline-block;
    position:relative;
    vertical-align: middle;
    cursor:default;
    width: 160px;
    padding: 0;
}

#dropdown:hover #priority-values {
   max-height: 60px;
  /*display: block;*/
}

#dropdown:hover #priorityVal{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* Loading indicator */
.spinner-border-large {
	width: 3rem; 
	height: 3rem;
}

#priority-values li span{
    cursor:pointer;
    color: #000000;
    /*text-decoration:none;*/
}

#priority-values li{
    line-height: 20px;
}

#priority-values{  
    padding: 0;
    margin-top: -1px;
    list-style-type: none;
    text-align:center;
    width: 100%;
    position:absolute;
    overflow: hidden;
    max-height:0;
    transition: max-height 0.2s ease-in;  
    display: block;    
}

#priority-values li:nth-last-child(1) {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#priorityVal{
    text-align: center;
    display:block;
    width: 100%;
    z-index: 1;
}


/*Кнопки повысить/понизить рейтинг задачи*/
#priority-button-block
{
	position: relative;
	left: 3px;
	display: inline-block;
	vertical-align: middle;
}

.priorityButton
{
	display: block;
	padding: 0;
	margin: 0;
	min-height: 0;
	min-width: 0;
	font-size: 8pt;
	color: #666;
	background: none;
	border: none;
	outline-style: none;
}
/*========================*/

.priority-val.circle {
	box-sizing: content-box;
	display: inline-block;
    width: 6px;
    height: 6px;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: 5px;
    margin-left: -1px;
}
button.remove-btn,
a.remove-btn {
	width              : 16px;
	height             : 16px; 
	background-image   : url("../imgs/remove-btn.png");
	background-repeat  : no-repeat;
	background-position: center;  
	background-size    : 100% 100%;	
	border             : none;
	min-height         : 16px;
	min-width          : 16px;  
	margin-left        : 10px; 
    cursor             : pointer;
    display            : inline-block;
}
.images-list a.remove-btn
{	
    position           : absolute;
    left 			   : -10px;
	top 			   : 0px;
}
div.list-box {
	overflow: scroll;
}
img.user-avatar.small {
    width : 32px;
    height: 32px;
}
img.user-avatar.middle {
    width : 64px;
    height: 64px;
}
img.user-avatar.x-middle {
    width : 80px;
    height: 80px;
}
/* линия видео */
ul.video-line {
	list-style: none;
	padding: 0;
	margin: 10px auto;
	text-align: center;
}

ul.video-line:empty {
	display: none;
 }

ul.video-line > li:not(.pending) > *{
	background: black;
	border: black solid 10px;
}

/* линия изображений в задаче */
ul.images-line {
	list-style: none;
	padding: 0;
	margin: 10px auto;
	text-align: center;
}
ul.images-line > li {
	display: inline-block;
	padding: 0;
	margin: 0;
}
/* линия прикрепленных изображений (в комментах) */
ul.image-line {
	list-style: none;
	padding: 0;
	margin: 10px auto;
	text-align: center;
}
ul.image-line > li {
	display: inline-block;
	padding: 0;
	margin: 5px;
}
ul.image-line > li > img {
	max-height: 500px;
}
/* список изображений */
ul.images-list {
	list-style: none;
	padding: 0;
	margin: 10px auto;
}
ul.images-list > li {
	margin: 10px auto;
	padding: 0;
	position: relative;
    left 	: 0px;
	top 	: 0px;
}
ul.images-list > li > a {
	display: inline-block;
	margin: 0 5%;
	position: relative;
    left 	: 10px;
	top 	: 0px;
}
.images-url a.remove-btn
{	
    position: absolute;
    left: 300px;
	top: 3px;
}
ul.images-url{
	list-style: none;
	margin: 10px auto;
	margin-top: 1%;
	padding: 0;
}
ul.images-url > li {
	display: block;	
	margin: 10px auto;
	padding: 0px;
	position: relative;
}
#issueForm li > a[name="imgByUrl"] {
	margin-left: 50px;
	font-size: small; 
}
/* комментарии */
.comments {
	width    : 90%;
    max-width: 900px;
    padding  : 10px;
    margin   : 20px auto;
}
#projectComments.comments {
	width    : 100%;
	max-width: none;
}
.comments .links-bar {
	height: 20px;
	margin: 0 0 5px;
}
.comments .links-bar a {
	font-size: smaller;
	margin: 0 5px;
}
.comments .links-bar .scrum-comments-shortcut {
	float: left;
}
a.create-branch-icon {
	position: relative;
	text-decoration: none;
}
a.create-branch-icon .branch-icon {
	padding: 0 2px;
}
a.create-branch-icon .plus-icon {
	position: absolute;
	right:0;
	bottom:0;
	font-size: 0.5em;
}

.comments .links-bar .comments-controls {
	float: right;
}
.comments .links-bar .comments-controls .request-changes-link {
	display: none;
}
#issueView.issue-testing .comments .links-bar .comments-controls .request-changes-link {
	display: inline-block;
}
.comments .links-bar .scrum-comments-shortcut a {
	display: inline-block;
	margin-right: 5px;
}
.comments form.add-comment .buttons-bar {
	text-align: right;
}
.comments form.add-comment .ui-tabs .ui-tabs-panel,
#passTestComment.ui-tabs .ui-tabs-panel {
	padding: 0;
}
.comments form.add-comment .preview-comment .lds-spinner div:after {
	background: #333;
}
.comments form.add-comment .preview-comment.comments-list-item .text,
#passTestComment .preview-comment.comments-list-item .text {
	margin: 0;
}
.comments .comments-list {
	list-style: none;
	padding: 0;
}
.comments-list-item .text > p {
    margin: 0;
    padding: 0;
}
.comments-list-item ul.merge-requests {
	margin: 10px 0 0;
	padding: 0;
	list-style: none;
}

.comments-list-item ul.merge-requests:empty {
   display: none;
}

.comments-list-item ul.merge-requests li {
	padding: 5px;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
}

.comments-list-item ul.merge-requests li .state-icon {
	margin-right: 5px;
}

.comments-list-item ul.merge-requests li.opened {
	background-color: #ffffbc;
	border-color: #ffc107;
}

.comments-list-item ul.merge-requests li.opened .state-icon {
	color: #838982;
}

.comments-list-item ul.merge-requests li.closed {
	background-color: #fdcabe;
	border-color: #dc3545;
}
.comments-list-item ul.merge-requests li.closed .state-icon {
	color: #e50000;
}

.comments-list-item ul.merge-requests li.merged {
	background-color: #e2ffd9;
	border-color: #198754;
}
.comments-list-item ul.merge-requests li.merged .state-icon {
	color: #2bbd00;
}

#projectComments .pages-nav-bar {
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
}
.hidden-state {
	display: none;
}



/* статистика проекта*/
.project-stat {
	margin: 0px;
}
.project-stat .label {
	font-size: smaller;
}
.project-stat .value {
    font-weight: bold;
}
.project-stat .project-opened-issue-hours
{
	font-size: smaller;
}

/* подменюшка панели */
.container ul.panel-submenu {
	list-style: none;
    padding: 0px;
    margin: -15px 0px 10px;
    font-size: smaller;
}
ul.panel-submenu li {
    min-width: 100px;
    display: inline-block;
    text-align: center;
}

/* панелька с информацией */
.info-list, .issue-info .linked-issues {
	padding-left: 40px;
}
.info-list > .info-list-item {
	margin: 10px 0px;
}
.info-list > .info-list-item span.label {
    width      : 150px;
    /*display    : inline-block;*/
    display: block;
    float: left;
    font-weight: bold;
    font-size: smaller;
}
.info-list > .info-list-item span.label:after {
    content: ":";
}
.info-list > .info-list-item span.value {
	display: block;
	margin-left: 155px;
}
.info-list > .info-list-item
{
	clear: both;
}

.info-list > .info-list-item.issue-complete-date-row.no-date {
	display: none;
}

table tr.locked-user {
	background-color: #cccccc;
	color           : #999999;
}

table.users-list tr.locked-user td button#locked-btn {
	display: none;
}
table.users-list tr.active-user td button#unlocked-btn {
    display: none;
}

/* форма авторизации и регистрации */
#authForm,
#registrationForm,
#recPassForm {
	width  : 400px;
	margin : 40px auto;
}

/* список проектов и добавление проекта*/
.projects-list .project-fix {
	margin: 0 0 0 16px;
	padding: 0;
	min-width: 20px;
	min-height: 20px;
	border: none;
	font-size: 14px;
	line-height: 14px;
	text-align: center;
	background: transparent;
}
.project-list-item .rotate-icon {
	transform: rotate(45deg);
	color: #999999;
}
table tr.completed-issue {
	background-color: #cccccc;
	color           : #999999;
}
table tr.completed-issue .priority-val {
    opacity: 0.2;
}
table tr.completed-issue:hover {   
    color           : #666666;
}
table tr.completed-issue:hover .priority-val {
    opacity: 0.6;
}
table tr.completed-issue a {
	color: inherit;
}

table tr.verify-issue {
	background-color: #f8f3b5;
	color           : #999999;
}

table.issues-list tr td .icon-deadline,
table.issues-list tr td .pass-test-check,
table.issues-list tr td .changes-requested-check {
	display: none;
}

.icon-deadline.icon-deadline-outdated,
table tr.deadline-outdated-issue a.issue-name {
	color: #720000;
}

.icon-deadline.icon-deadline-urgent,
table tr.deadline-urgent-issue a.issue-name  {
	color: #e03400;
}

.icon-deadline.icon-deadline-medium  {
	color: #d3cf00;
}

table tr.deadline-outdated-issue a.issue-name,
table tr.deadline-urgent-issue a.issue-name,  
table tr.deadline-medium-issue a.issue-name,  
table tr.pass-test a.issue-name  {
	font-weight: bolder;
}

.icon-deadline.icon-deadline-low {
	color: #00b100;
}

table.issues-list tr td .pass-test-check {
	color: #00b100;
}

table.issues-list tr td .changes-requested-check {
	color: #dc3545;
}

table tr.deadline-outdated-issue td .icon-deadline.icon-deadline-outdated,
table tr.deadline-urgent-issue td .icon-deadline.icon-deadline-urgent,
table tr.deadline-medium-issue td .icon-deadline.icon-deadline-medium,
table tr.deadline-low-issue td .icon-deadline.icon-deadline-low,
table.issues-list tr.pass-test .pass-test-check, 
table.issues-list tr.changes-requested .changes-requested-check {
	display: inline-block;
}

/* просмотр проекта */
#projectView .filters-line {
	display: flex;
	align-items: center;
	float: left;
	width: 70%;
	font-size : smaller;
}

/* список задач и добавление/редактирование задачи */
table.issues-list td {
	position: relative;
}
/* title */
table.issues-list td:nth-child(3)
{
	min-width: 300px;
}
/* members */
table.issues-list td:nth-child(4)
{
	min-width: 200px;
}
/* desc */
table.issues-list td:nth-child(5)
{
	max-width: 400px;
	overflow: hidden;
}
/* date */
table.issues-list td:nth-child(6)
{
	max-width: 150px;
}
/* buttons */
table.issues-list tr.completed-issue td button.complete-btn {
    display: none;
}
table.issues-list tr.active-issue td button.restore-btn {
	display: none;
}
table.issues-list tr.verify-issue td button.restore-btn {
	display: none;
}

table.issues-list tr td span.comments-count {
	font-size    : 8.5pt;
	font-weight  : bold;
    padding      : 2px 5px;
    border-radius: 4px;
}
table.issues-list tr.active-issue td span.comments-count {
    background: #9a9a9a;
    color     : #ffffff;
}
table.issues-list tr.completed-issue td span.comments-count {
    background: #d6d6d6;
    color     : #bbbbbb;
}
table.issues-list tr.verify-issue td span.comments-count {
   	background: #808080;
    color: #ffffff;
}
table tr.completed-issue:hover td span.comments-count {   
    background: #dddddd;
    color     : #999999;
}
table.issues-list td .on-board-state {
	position: absolute;
	left: 1px;
	top: 0px;
	font-size: 12px;
	color: #333333;
}
table.issues-list td .priority-change-bar {
	position: absolute;
	left: 6px;
	top: 50%;
	width: 10px;
	height: 36px;
	margin-top: -15px;
	color: #cecece;
	font-size: 13px;
}
table.issues-list td .priority-change-bar:hover {
	color: #666666;
}
table.issues-list td .priority-change-bar .priority-control {
	position: absolute;
	cursor: pointer;
}
table.issues-list td .priority-change-bar .priority-up {
	top: 0;
}
table.issues-list td .priority-change-bar .priority-down {
	bottom: 0;
}
table.issues-list td .priority-change-animation {
	position: absolute;
	user-select: none;
}
table.issues-list tr.verify-issue.tester {
	background: #FFEC80;
}
/* Активная задача, на которую назначен тестером. Раскомментировать, если тоже нужно подсвечивать.
table.issues-list tr.active-issue.tester {
	background: #FFEC80;
}*/

/* просмотр задачи */
#issueView > h1 {
	float: left;
}
#issueView .header-operations-bar {
	float: right;
	margin-top: 35px;
	font-size: 10px;
}
#issueView .info-list.completed-issue .issue-completed-date-row {
	display: block;
}
#issueView .info-list .issue-completed-date-row {
	display: none;
}
.linked-issues {
	font-size: smaller;
}
.linked-issues h5 {
	margin: 10px 0 2px;
}
.linked-issues .linked-issue-project {
	font-weight: bold;
}
#issueView .buttons-bar.completed-issue button.complete-btn {
	display: none;
}
#issueView .buttons-bar.completed-issue button.verify-btn {
	display: none;
}
#issueView .buttons-bar.active-issue button.restore-btn {
    display: none;
}
#issueView .buttons-bar.verify-issue button.verify-btn {
    display: none;
}
#issueView .container {
	box-sizing: content-box;
	clear: both;
	position: relative;
}
#issueView .info-list .desc blockquote,
.comments-list .comments-list-item .text blockquote {
	font-size: .9em;
	padding: 10px;
	border:none;
	border-left: solid 2px #cdcdcd;
}
#issueView .info-list .desc blockquote {
	background-color: #f9f9f9;
}
.formatted-desc h1,
.formatted-desc h2,
.formatted-desc h3,
.formatted-desc h4,
.formatted-desc h5,
.formatted-desc h6 {
	margin-block-start: 1em;
	margin-block-end: 0.5em;
	font-weight: bold;
}
.formatted-desc h1 {
	font-size: 1.5em;
}
.formatted-desc h2 {
	font-size: 1.35em;	
}
.formatted-desc h3 {
	font-size: 1.25em;
}
.formatted-desc h4 {
	font-size: 1.1em;
}
.formatted-desc h5 {
	font-size: 1em;
}
.formatted-desc h6 {
	font-size: 0.8em;
}
.formatted-desc p {
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
}
.formatted-desc img {
	max-width: 100%;
}
.formatted-desc .user-link {
	font-weight: bold;
}
.comments-list .comments-list-item .text blockquote {
	background-color: #e9e9e9;
}
blockquote > p {
	margin: 0;
	padding: 0;
}
#issueView .issue_copy
{
	position: absolute;
	right: 10px;
	margin-top: -15px;
	font-size: 0.6em
}



/* Редактирование задачи */
#issueForm .text-warning {
	color: #ccc;
	text-align: right;
	width: 90%;
    margin: 5px auto 0;
	padding: 0 5px;
}
#issueForm .tags-line a.tag {
	display: inline-block;
	margin: 0 .2em;
	text-decoration: none;
}

#issueForm .tags-line .tag.quote {
	display: inline-block;
	margin: 0 .2em;
	border-left: solid 2px #cdcdcd;
	background-color: #f9f9f9;
	padding: 2px;
	padding-left: 5px;
}

/* экспорт задач в Excel */
#issuesExportToExcel {
	text-align: center;
}

#issuesExportToExcel .buttons-line {
	text-align: center;
	margin-top: 20px;
}

/* выбор пользователей */
#usersChooser {
	text-align: center;
}
#usersChooser div.list-box {
	max-height: 500px;
}
#usersChooser .list-box table td:first-child {
	text-align: left;
}
#usersChooser button {  
    margin-top: 10px;
}

#issueInfo > h3 {
	position: relative;
}
#issueInfo > h3 .issues-hours-box
{
	display: inline-block;
	margin-left: 5px;
	font-size: .7em;
}
#issueInfo > h3 .scrum-put-sticker {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -7px;
	font-size: 16px;
}

/*Меню скопировать в issue*/
.popup-menu 
{
	background:#ffffff;
	color:#000;
	font-size: 0.8em;
	border:solid #ccc 1px;
	border-radius: 5px;
	position: absolute;
	margin-top:5px;
	margin-left: -5px;
	padding: 5px 10px;
	display: none;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
}
.issue_copy a:hover, .issue_copy a.hover{
    color: #999;
   
}
.hidden {
	display: none;
}
.scrum-board-header {
	float: left;
}
#scrumBoard h3 .scrum-board-info {
	font-weight: normal;
	font-size: 0.8em;
} 
#scrumBoard h3 .scrum-board-info .scrum-board-sprint-num {
	font-weight: bold;
} 
#scrumBoard .scrum-board-actions {
	float: right;
	padding-right: 5px;
}
#scrumBoard .scrum-board-actions > a {
	margin-left: 5px;
}
#scrumBoard .scrum-board-actions-show-sp {
	display: none;
}
#scrumBoard.hide-sp .scrum-board-actions-show-sp {
	display: inline-block;
}
#scrumBoard.hide-sp .scrum-board-actions-hide-sp {
	display: none;
}
.scrum-board-table {
	clear: both;
}
.scrum-board-table td {
	width: 25%;
    vertical-align: top;
    text-align: left;
}
.scrum-board-table th .scrum-col-info {
	margin-left: 5px;
	font-weight: normal;
    font-size: 0.9em;
}
.scrum-board-sticker {
	position: relative;
    display: inline-block;
    vertical-align: top;
	width: 140px;
	min-height: 100px;
	padding: 5px;
	padding-right: 10px;
	padding-bottom: 17px;
	margin: 5px;
    box-sizing: border-box;
	/*float: left;*/
	font-size: 10pt;
    word-wrap: break-word;
}

.scrum-board-sticker .name-project {
	display: block;
	margin: 2px 4px 4px 0;
	padding: 1px 2px;
	font-size: 13px;
	line-height: 1;
	color: #fff;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	background-color: #333;
	border-radius: 2px;
}

.scrum-board-sticker .name-project:hover {
	color: #fff;
}

.scrum-board-sticker.blue {
	background-color: #cfe2ff;
}
.scrum-board-sticker.red {
	background-color: #FE3678;
}
.scrum-board-sticker.orange {
	background-color: #FEB93C;
}
.scrum-board-sticker.green {
	background-color: #7BDB23;
}
.scrum-board-sticker.yellow {
	background-color: #FEF80F;
}
.scrum-board-sticker.white {
	background-color: #FEFEFE;
	border: solid 1px #cccccc;
}
.scrum-board-sticker.mine {
	border: solid 2px #1E90FF;
}
.scrum-board-sticker.tester {
	border: solid 2px #EE82EE;
}
.scrum-board-sticker a {
	text-decoration: none;
}
.scrum-board-sticker a:hover {
	color: initial;
}
.scrum-board-sticker .sticker-issue-id {
	position: absolute;
	left: 3px;
	bottom: 2px;
	font-size: 9px;
	background-color: #333;
	color: #fff;
	padding: 1px 2px;
	border-radius: 2px;
}
.scrum-board-sticker .sticker-issue-members {
	display: block;
	margin-top: 3px;
	font-size: 9px;
}
.scrum-board-sticker .snapshot-sticker-issue-sp {
	display: inline-block;
	font-size: 10px;
	margin-left: 2px;
	margin-top: -2px;
	vertical-align: middle;
}
.scrum-board-sticker .sticker-issue-sp {
	display: inline-block;
	font-size: 10px;
	margin-left: 2px;
    margin-top: -2px;
    vertical-align: middle;
}
.scrum-board-sticker .pass-test-check,
.scrum-board-sticker .changes-requested-check {
	display: none;
}
.scrum-board-sticker.pass-test .pass-test-check,
.scrum-board-sticker.changes-requested .changes-requested-check {
	display: inline-block;
}
#scrumBoard.hide-sp .scrum-board-sticker .sticker-issue-sp {
	display: none;	
	margin: 0;
}
.scrum-board-sticker .control-line {
	position: absolute;
	right: 5px;
	left: 5px;
	bottom: 3px;
	text-align: right;
}
.scrum-board-sticker .control-line a {
	font-size: 9px;
	margin-left: 3px; 
}
.scrum-board-sticker a.sticker-control-remove {
	position: absolute;
	right: 3px;
	top: 1px;
    font-size: 10px;
    color: #333333;
}
.scrum-board-sticker a.sticker-control-archive {
	position: absolute;
	left: 0;
	bottom: 0;
}
.col-todo .scrum-board-sticker a.sticker-control-done,
.col-done .scrum-board-sticker a.sticker-control-done {
	display: none;
}
.col-todo .scrum-board-sticker a.sticker-control-prev {
	display: none;
}
.col-done .scrum-board-sticker a.sticker-control-next {
	display: none;
}
.col-testing .scrum-board-sticker a.sticker-control-take,
.col-done .scrum-board-sticker a.sticker-control-take,
.scrum-board-sticker.mine a.sticker-control-take {
	display: none;
}

#scrumBoard .scrum-snapshot-stat {
	margin-top: 10px;
	margin-left: 5px;
	margin-bottom: 10px;
}
#scrumBoard .scrum-snapshot-stat .scrum-snapshot-links{
	font-size: smaller;
}
#scrumBoard .scrum-snapshot-stat .num-issues {
	float: right;
	margin-right: 5px;
 }

#scrumSnapshot .scrum-snapshot-list {
	clear: both;
}

#scrumSnapshot .scrum-snapshot-list li {
	margin-top: 10px;
	margin-bottom: 10px;
}

#sprint-stat .sprint-members-stat {
	margin-top: 10px;
}


.issue-name-quick-actions {
	font-size: 0.7em;
	display: block;
}

.issue-labels-container {
	font-size: 0.9em;
	display: block;
	margin: auto;
}

.issue-labels-container a {
	display: inline-block;
	padding: 2px 5px;
}

.issue-labels-container a.selected {
	border: 1px solid #cccccc;
	background: #ffff00;
	border-radius: 5px;
	margin: -1px;
}

#removeIssuesLabelContainer .table {
	border: 1px solid #CCCCCC;
	padding: 0;
	margin: 0;
}

#removeIssuesLabelContainer .table-cell {
	padding: 5px 10px;
	text-align: center;
	border: 1px solid #FFFFFF;
}

#removeIssuesLabelContainer .table-row:nth-child(even) {
	background: #FFFFFF;
}

.table {
	display: table;
}

.table-header {
	display: table-header-group;
}

.table-row {
	display: table-row;
}

.table-cell {
	display: table-cell;
}

#projectSettings form ul.form-items {
	padding: 10px;
	list-style-type: none;
}

#projectSettings form ul.form-items > li {
	padding: 5px;
	text-align: left;
}

#projectSettings form label {
	float: left;
	margin-top: 5px;
	min-width: 250px;
}
.tooltip div {
	display: none;
	position: absolute;
	margin: 20px;
	bottom: -1px;
	left: -1px;
	z-index: 1000;
	padding: 8px 12px;
	text-align: left;
	font-size: 12px;
	line-height: 16px;
	color: #000;
	box-shadow: 0 1px 3px #C4C4C4;
	background: #f6fff7;
	border-radius: 2px;
}
.ui-widget.ui-widget-content.ui-tooltip, .ui-tooltip .arrow:after {
	background: #666;
	border: 0;
}
.ui-widget.ui-tooltip {
	padding: 5px 10px;
	color: white;
	border-radius: 15px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	font-size: 0.9em;
}
.ui-tooltip .arrow {
	width: 50px;
	height: 10px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -10px;
}
.ui-tooltip .arrow.top {
	top: -10px;
	bottom: auto;
}
.ui-tooltip .arrow.left {
	left: 20%;
}
.ui-tooltip .arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	box-shadow: 6px 5px 9px -9px black;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.ui-tooltip .arrow.top:after {
	bottom: -20px;
	top: auto;
}
.headersProjectsMembers {
	margin-top: 10px;
	margin-bottom: 10px;
}
.btnSelect {
	float: left;
}
.headersProjectsMembers {
	margin-top: 10px;
	margin-bottom: 10px;
}
.project-members-selector .remove-link {
	opacity: 0.3;
	margin-left: 20px;
	text-decoration: underline;
	font-size: 0.9em;
}
.project-members-selector .remove-link:hover {
	opacity: 1;
	cursor: pointer;
	color: #000000;
	text-decoration: none;
}

/* Форма создания ветки */

form.create-branch {
	padding: 10px;
}

form.create-branch ul.create-branch-items {
	list-style: none;
	padding: 0;
	margin: 0;
}

form.create-branch ul.create-branch-items > li {
	padding: 5px 0;
}

form.create-branch ul.create-branch-items label {
	margin-bottom: 3px;
	display: block;
}

form.create-branch ul.create-branch-items select,
form.create-branch ul.create-branch-items input {
	width: 100%;
}

/* Форма отправки сообщения о том, что тест пройден */
form.pass-test ul.pass-test-items {
	list-style: none;
	padding: 0;
	margin: 0;
}

form.pass-test ul.pass-test-items label {
	display: block;
}

form.pass-test #passTestComment textarea.comment-text-field {
	height: 300px;
}

/* Модальное окно целей спринта */

.modal-target-sprint .ui-dialog-titlebar {
	color: #666666;
}

.modal-target-sprint .ui-dialog-titlebar-close {
	display: none;
}

.input-target {
	width: 100%;
	max-width: 480px;
	height: 160px;
	resize: vertical;
}

.target-note {
	font-size: 11px;
	color: #999999;
}

/**
 * Блок целей спринта
 */
.scrum-board-target {
	min-width: 30%;
}

/**
 * === end sprint targets ===
 */

 /* Окно выбора проекта */

 .select-project-popup .select-project-row {
	margin: 10px 0;
 }

 /* Окно выбора проекта для создания задачи */

 .select-project-popup .copy-linked-issues-row {
	display: none;
}

 .select-project-popup .target-kind-row {
	 display: none;
 }

 .select-project-popup.finished-mode .target-kind-row {
	display: block;
 }

 .select-project-popup.copy-mode .copy-linked-issues-row {
	display: block;
}

.scrum-board-top-content {
	margin-top: 15px;
}

/**
 * Фильтры в списке задач
 */

.filters-line .multiselect {
	min-height: 24px;
	min-width: 200px;
}

.filters-line .multiselect__tags {
	min-height: 24px;
	padding: 4px 24px 0 4px;
	font-size: 14px;
}

.filters-line .multiselect__select {
	height: 32px;
}

.filters-line .multiselect__tag {
	overflow: unset;
}
