<?php
/* Requires:
 *  $project - current project
 */
$pid = $project->getID();
?>
<div class="goto-issue-component d-flex align-items-center">
    <?php /* title is on the inner span, not the toggle: a Bootstrap tooltip can't attach to an element
             that already hosts a Collapse (Bootstrap allows one component instance per element), and
             a bare <i> has a sub-pixel box the tip would anchor flush to */ ?>
    <a class="btn btn-outline-secondary btn-sm hide-me" data-bs-toggle="collapse" href="#gotoIssueCollapse" role="button" aria-expanded="false" aria-controls="gotoIssueCollapse" aria-label="Перейти к задаче по номеру">
        <span title="Перейти к задаче по номеру"><i class="fa-regular fa-compass" aria-hidden="true"></i></span>
    </a>
    <div class="collapse collapse-horizontal" id="gotoIssueCollapse">
        <div class="d-flex flex-nowrap" style="width: 210px;">
            <a href="javascript:void(0)" class="goto-issue-cancel link-secondary btn btn-sm" title="Отмена">
                <i class="fa fa-times fa-xs" aria-hidden="true"></i>
            </a>
            <div class="input-group input-group-sm" data-project-id="<?=$pid?>">
                <span class="input-group-text">#</span>
                <input type="text" class="form-control goto-issue-input" placeholder="номер задачи" aria-label="Номер задачи в проекте" />
                <button class="btn btn-outline-secondary goto-issue-btn" type="button" title="Открыть">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    
</div>
